<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="style.css" rel="stylesheet">
	<link href="checkbox.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <title>Chocotravel</title>
</head>
<body>
    <script src="https://unpkg.com/vue"></script>
	<div class="wrapper">
		<div id="app">
			<div class="filters">
				<div class="airlines">
					<font @click="myShow">
						Авиокомпании
						<img v-if="!showFilter" src="images/down-arrow1.svg">
						<img v-else src="images/down-arrow3.svg">
					</font>
					<div class="airContainer" v-show="showFilter">
						<div class="airline">
							<label class="container">Все
							  <input @change="toggleAll" type="checkbox" checked>
							  <span class="checkmark myCheckmark"></span>
							</label>
						</div>
						<div class="airline" v-for="airline in airlines">
							<label class="container">{{ airline }}
							  <input v-model='airlineFilters' :value='airline' type="checkbox" checked>
							  <span class="checkmark myCheckmark"></span>
							</label>
						</div>
					</div>
				</div>
				<label class="container">Только прямые рейсы
				  <input @change="hopFlights" type="checkbox">
				  <span class="checkmark"></span>
				</label>
			</div>
			<table cellpadding="0">
				<tr>
					<th>Авиокомпания</th>
					<th>Рейс</th>
					<th>Выбор времени</th>
					<th>Вылет - посадка</th>
					<th>Время в пути</th>
					<th></th>
				</tr>
				<tr v-for="item in filteredItems">
					<td class="airLogos">
						<img v-if="item.flights[0].airline.name=='Air Astana'" src="images/AirAstana.svg">
						<img v-else-if="item.flights[0].airline.name=='Scat'" src="images/Scat.svg">
						<img v-else-if="item.flights[0].airline.name=='Bek Air'" src="images/Bek_air.png">
					</td>
					<td class="tdWidth150" v-if="item.flights.length == 2 && hopFlights">Через {{ item.flights[1].cities.departureCity }}</td>
					<td class="tdWidth150" v-else>прямой</td>
					<td>
						<p>Выбрать другое время<img src="images/down-arrow2.svg"></p>
						<p>Поделиться</p>
					</td>
					<td v-if="item.flights.length == 2 && hopFlights"><b>{{ item.flights[0].departureTime }}</b> - {{ item.flights[1].arrivalTime }}</td>
					<td v-else><b>{{ item.flights[0].departureTime }}</b> - {{ item.flights[0].arrivalTime }}</td>
					<td v-if="item.flights.length == 2 && hopFlights">{{ flightDuration(item.flights[0].departureTime,item.flights[1].arrivalTime) }}</td>
					<td v-else>{{ flightDuration(item.flights[0].departureTime,item.flights[0].arrivalTime) }}</td>
					<td><button>Купить за {{ item.price }} kzt</button></td>	
				</tr>
			</table>
		</div>
	</div>
    <script src="js/app.js"></script>
</body>
</html>