body{
	margin: 0;
	padding: 0;
	background: #dff0ff;
	font-family: "Open Sans";
	color: #2c4f90;
}

.wrapper{
	width: 1000px;
	margin: 10% auto;
}
.wrapper table{
	width: 100%;
	border-collapse:collapse;
}
.wrapper th{
	background: #397fbf;
	text-align: left;
	color: white;
	font-weight: normal;
	padding: 7px 15px;
	font-size: 13px;
}
.wrapper td{
	background: white;
	padding: 10px 15px 25px;
	font-size: 12px;
}
.wrapper th, .wrapper td{
	
}
.wrapper tr{
	border-bottom: 1px solid #dff0ff;
}
.wrapper tr p{
	margin: 0;
	border-bottom: 1px dotted #2c4f90;
	width: fit-content;
	position: relative;
}
.wrapper .airlines{
	position: relative;
	width: 170px;
}
.wrapper .airlines .airContainer{
	position: absolute;
	background: white;
	width: 150px;
	padding: 10px;
	border-radius: 9px;
}
.wrapper .airlines .airContainer .airline{
	margin: 5px 0;
}
.wrapper .airlines font{
	position: relative;
	cursor: pointer;
}
.wrapper tr p img, .wrapper .airlines font img{
	width: 11px;
    position: absolute;
    right: -15px;
    top: 4px;
}
.wrapper button{
	border: none;
    padding: 10px 20px;
    font-size: 14px;
    background: #fe9922;
    color: white;
    border-radius: 3px;
	cursor: pointer;
}

.airLogos img{
	width: 110px;
}

.tdWidth150{
	width: 150px;
}

.filters{
	display: flex;
	align-items: center;
}